.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin: 0 auto;
}

.cards__title {
  font-weight: var(--weight-bold);
}

.card {
  padding: 6px 16px;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: var(--global-transition) box-shadow;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  &:visited {
    color: inherit;
  }
}

.card-image {
  width: 76px;
  padding: 6px 10px 10px 0px;
  padding-right: 10px;
  align-self: flex-start;
  flex-shrink: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
