.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  margin: 0 auto;
}

section.contribute {
  text-align: center;
  margin: 40px 0px 40px 0px;
}

a.button {
  display: block;
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
  line-height: 1;
  background-color: rgba(213,0,26,1.0);
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

.group-image {
  width: 216px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin: 20px;
  text-align: center;
}