.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.card {
  width:277px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.card-image {
  width: 80px;
  padding: 10px 10px 10px 0px;
}

.card-content {
  width: 177px;
}

a.card-box {
  text-decoration: none !important;
  color: inherit;
}

section.contribute {
  text-align: center;
  margin: 40px 0px 40px 0px;
}

a.button {  
  display: block;
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
  line-height: 1;
  background-color: rgba(213,0,26,1.0);
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

.group-image {
  width: 216px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin: 20px;
  text-align: center;
}